@use "@styles/mixin.module";
@use "@styles/variable.module";

.container {
    @include mixin.flex_box_custom(space-between, unset, 0px);
    padding: 30px 20px;
    height: 92%;
    flex-direction: column;

    .total{
        @include mixin.flex_box_custom(space-between, center, 10px);
    }

    .boxBtn {
        @include mixin.flex_box_custom(center, center, 10px);
        flex-direction: column;
    }

    .boxEmpty{
        text-align: center;
        font-size: 14px;
        color: variable.$four_color;
        margin-top: 30px;
        .boxBtnEmpty{
            width: 162px;
            margin: 20px auto;
        }
    }

    .containerListItem{
        @include mixin.flex_box_custom(space-between, unset, 0px);
        flex-grow: 1;
        flex-direction: column;
    }
}

.isEmpty{
    justify-content: unset;
}
