@use "@styles/mixin.module";
@use "@styles/variable.module";

.container{
    @include mixin.flex_box_custom(space-between, unset, 0px);
    padding: 30px 20px;
    height: 92%;
    flex-direction: column;

    .boxContent{
        
    }
}