@use "@styles/mixin.module";
@use "@styles/variable.module";

.containerMethods {
    padding: 25px 0;
    position: relative;
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-top: 40px;

    .titleMethods {
        position: absolute;
        top: -8px;
        transform: translate(-50%);
        left: 50%;
        background-color: #fff;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        width: 50%;

        span {
            color: #2e7d32;
        }
    }

    .boxImgMethods {
        @include mixin.flex_box_custom(center, center, 10px);
        .imgMethods {
            border: 1px solid #e1e1e1;
            width: 50px;
            height: 34px;
        }
    }
}
.textSecure {
    text-align: center;
    font-size: 14px;
    color: variable.$thr_color;
    margin-top: 10px;
}