@use "@styles/mixin.module";
@use "@styles/variable.module";

.btn {
    background-color: variable.$primary_color;
    color:  variable.$white_color;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 45px;
    transition: all .3s;
    outline: none;
    border: 1px solid variable.$primary_color;
    &:hover{
        background-color: transparent;
        color:  variable.$primary_color;
    }
}


